.content-body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.topBtn {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    background-color: lightseagreen;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ffffff;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3a3433;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
    font-size: 0px;
    box-sizing: border-box;
    margin: 10px auto;
}

.loading-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10002;
}

.loading-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    z-index: 10001;
}

.loading-text {
    font-size: 20px;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.topbar-layout {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}

.topbar-title {
    color: white;
    padding-left: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.topbar-button {
    background-color: #000000;
    border: unset;
    padding-right: 15px;
}

.topbar-fa-bars {
    color: #ffffff;
    font-size: 28px;
}

#sideNav .navbar-nav .nav-item .nav-link {
    padding-left: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

    #sideNav .navbar-nav .nav-item .nav-link:hover {
        color: #ffffff;
    }

#sideNav .navbar-nav .nav-item--active .nav-link {
    color: #ffffff;
}

.topbar-line-container {
    display: flex;
    position: relative;
    justify-content: center;
    margin-inline-start: auto;
}

.text-language {
    cursor: pointer;
    color: rgba(255,255,255,.5);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px;
}

    .text-language.active {
        color: #ffffff;
    }

.header-icon {
    float: left;
    display: flex;
    position: relative;
    align-items: center;
    width: 0.5px;
}

    .header-icon:after {
        content: "";
        width: 0.5px;
        height: 20px;
        background: #ffffff;
        position: absolute;
    }

.sidebar-line-container {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}

.sidebar-layout {
    background: black;
    height: 100vh;
    position: fixed;
    width: 17%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

    .sidebar-layout .nav-sub {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        align-items: center;
    }

    .sidebar-layout .nav-text {
        color: rgba(255,255,255,.5);
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        margin: 10px;
    }

        .sidebar-layout .nav-text.active {
            color: white;
        }

    .sidebar-layout .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid slategray;
        padding: unset;
        margin: 10px;
    }

.main-layout {
    width: 83%;
    margin-right: 0px;
}

.about-section {
    min-height: 100vh;
    height: 100%;
    padding: 20px;
    background-image: url(../Images/profile-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.text-header-normal {
    font-size: 6rem;
    line-height: 5.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 30px white;
}

.text-header-primary {
    font-size: 6rem;
    line-height: 5.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: slategray;
    text-shadow: 0 0 30px white;
}

.text-header-sub {
    font-size: 1.6rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 0 30px white;
}

.text-sentence {
    max-width: 500px;
    margin-top: 50px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 6px white;
}

.text-header-center {
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 30px white;
}

.text-header-center-experience-section {
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 30px black;
}

.heading-border-white {
    width: 150px;
    height: 5px;
    background-color: white;
    margin: 0 auto 20px auto;
    margin-bottom: 20px;
}

.heading-border-black {
    width: 150px;
    height: 5px;
    background-color: black;
    margin: 0 auto 20px auto;
}

.experience-section {
    min-height: 100vh;
    height: 100%;
    padding-left: 0px;
    background-image: url(../Images/experience-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-cover-experience-section {
    background: rgba(1,1,1, 0.6);
    min-height: 100vh;
    height: 100%;
}

.text-header-subject-experience-section {
    color: lightseagreen;
    font-weight: bold;
    padding: 0px 100px 0px 100px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 30px black;
}

.text-header-sub-subject-experience-section {
    padding: 1px 100px 0px 100px;
    color: white;
    font-size: 1rem;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 30px black;
}

.text-subject-experience-section {
    padding: 0px 100px 0px 100px;
    color: white;
    padding-bottom: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 30px black;
}

.portfolio-section {
    min-height: 100vh;
    height: 100%;
    background-color: white;
}

.port-head-cont-portfolio-section {
    margin: 10px auto 30px auto;
    text-align: center;
}

.btn-general-portfolio-section {
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
    border-color: #000000;
    background-color: #ffffff;
    margin: 10px 5px;
}

    .btn-general-portfolio-section:hover, .btn-general-portfolio-section:focus {
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
    }

    .btn-general-portfolio-section.active {
        background-color: #000000;
        color: #ffffff;
    }

.row-image-portfolio-section {
    margin: 30px;
}

.column-image-portfolio-section {
    padding: 15px;
}

.frame-image-portfolio-section {
    display: block;
    position: relative;
}

.image-portfolio-section {
    background-color: black;
    width: 100%;
}

.image-portfolio-cover-section-dialog {
    display: flex;
    justify-content: center;
    padding-left: 75px;
}

.image-portfolio-section-dialog {
    max-height: 400px;
    width: 100%;
    height: fit-content;
    padding: 0px 15px 0px 15px;
}

.image-portfolio-section-dialog-text-desc {
    margin-bottom: 30px;
}

.image-portfolio-section-dialog-text-detail {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 30px;
}

.alert-detail {
    letter-spacing: -0.26px;
    margin-bottom: 10px;
    line-height: 24px;
    color: black;
    word-wrap: break-word;
    font-weight: bold;
    vertical-align: bottom;
    text-align: center;
}

.alert-message {
    text-align: center;
    padding: 25px 10px 0px 10px;
    font-size: 1.3rem;
    color: #000000;
    line-break: auto;
    margin: 0px 50px 30px 50px;
    line-height: 50px;
}

.btn-close-portfolio-section {
    color: white;
    width: 100px;
    height: 50px;
    background-color: black;
    text-align: center;
    border: 0px solid white;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

    .btn-close-portfolio-section:hover, .btn-close-portfolio-section:focus {
        background-color: slategray;
        color: white;
        cursor: pointer;
    }

.close-modal-portfolio-section {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

    .close-modal-portfolio-section .lr {
        z-index: 1051;
        width: 1px;
        height: 75px;
        margin-left: 35px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: black;
    }

        .close-modal-portfolio-section .lr .rl {
            z-index: 1052;
            width: 1px;
            height: 75px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            background-color: black;
        }


.text-image-portfolio-section {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 30px white;
}

.text-header-center-portfolio-section {
    margin-top: 25px;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 30px white;
}

.caption-port-content {
    font-size: 0px;
}

.caption-port {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

    .caption-port:hover, .caption-port:focus {
        opacity: 100;
        background: rgba(112, 128, 144, 0.73);
    }

        .caption-port:hover .caption-port-content, .caption-port:focus .caption-port-content {
            font-size: 20px;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 20px;
            margin-top: -12px;
            text-align: center;
            color: white;
        }

.skills-section {
    min-height: 100vh;
    height: 100%;
    padding-left: 0px;
    background-image: url(../Images/skill-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-cover-skill-section {
    background: rgba(1,1,1, 0.3);
    min-height: 100vh;
    height: 100%;
}

.text-header-center-skill-section {
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 30px black;
}

.skill-item-image-cover-skill-section {
    height: 100px;
    display: inline-flex;
    flex-flow: column-reverse;
    justify-content: center;
}

.skill-item-image-skill-section {
    width: 100%;
    height: auto;
    max-height: 100px;
}

.skill-item-skill-section {
    text-align: center;
    min-height: 330px;
    padding: 20px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.78);
}

    .skill-item-skill-section h2 {
        color: black;
        font-size: 35px;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 1px;
    }

.education-section {
    min-height: 100vh;
    height: 100%;
    padding-left: 0px;
    background-image: url(../Images/education-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-cover-education-section {
    background: rgba(255,255,255, 0.8);
    min-height: 100vh;
    height: 100%;
}

.text-header-center-education-section {
    color: #000000;
    padding-top: 40px;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 30px #ffffff;
}

.img-wrap-education-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -100px;
    margin-right: 20px;
}

.img-education-section {
    margin-right: 15px;
    position: relative;
    z-index: 1;
    border-radius: 300px;
    box-shadow: 5px 5px 5px #C1272D;
}

    .img-education-section img {
        width: 100%;
        border-radius: 300px;
    }

    .img-education-section:before {
        position: absolute;
        left: 3%;
        top: 2%;
        width: 94%;
        height: 96%;
        content: "";
        border: 3px solid #C1272D;
        border-radius: 300px;
    }

.img-inner-education-section {
    border-radius: 300px;
    position: relative;
    margin-top: 80px;
    margin-left: 15px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #6F3089;
}

    .img-inner-education-section img {
        width: 100%;
        border-radius: 300px;
    }

    .img-inner-education-section:before {
        position: absolute;
        left: 3%;
        top: 2%;
        width: 94%;
        height: 96%;
        content: "";
        border: 3px solid #6F3089;
        border-radius: 300px;
    }

.frame2-education-section {
    align-self: center;
}

.content-education-section {
    width: 85%;
    padding: 18px 30px;
    background: #fff;
    text-align: right;
    float: left;
    border: 1px solid transparent;
    position: relative;
    transition: all 0.3s ease 0s;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
    margin-bottom: 50px;
}

.date-education-section {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 8px;
    transition: all 0.3s ease 0s;
}

    .date-education-section.swu {
        color: #C1272D
    }

    .date-education-section.dpu {
        color: #6F3089
    }

.title-education-section {
    font-size: 18px;
    color: #444;
    margin-top: 0;
    transition: all 0.3s ease 0s;
}

.description-education-section {
    font-size: 16px;
    color: #777;
    line-height: 28px;
    margin-top: 8px;
}

.contact-section {
    min-height: 100vh;
    height: 100%;
    background-color: white;
}

.text-contact-section {
    font-size: 1rem;
}

.error-contact-section {
    color: #f03251;
    font-size: 18px;
    line-height: 40px;
}

.con-form-contact-section input {
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
    margin-top: 30px;
}

.con-form-contact-section textarea {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    padding: 10px;
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
}

.btn-general-contact-section {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-contact-section:hover {
    text-decoration: none;
}

.btn-send-contact-section {
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}

    .btn-send-contact-section:hover, .btn-white:focus {
        background-color: slategray;
        color: #ffffff;
        cursor: pointer;
    }

.btn-send-contact-section-disable {
    cursor: unset;
    background-color: slategray;
    color: #000000;
}

.contact-box-desc-contact-section h3 i {
    color: lightseagreen;
}

.contact-side-desc-contact-section {
    padding-top: 40px;
}

.address-details-contact-section {
    text-decoration: auto;
    color: slategray;
}

.contact-side-button {
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .skill-item-skill-section h2 {
        font-size: 30px;
    }
}

@media (max-width: 1100px) {
    .skill-item-skill-section h2 {
        font-size: 28px;
    }
}

@media (max-width: 999px) {
    .main-layout {
        width: 100%;
        margin-right: 0px;
        margin-top: 60px;
    }

    .text-sentence {
        font-size: 1.3rem;
    }

    .text-header-sub-subject-experience-section {
        font-size: 1.3rem;
    }

    .text-subject-experience-section {
        font-size: 1.3rem;
    }

    .skill-item-skill-section h2 {
        font-size: 25px;
    }

    .skills-section {
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }

    .img-wrap-education-section {
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
    }

    .img-inner-education-section {
        margin-top: 0px;
    }

    .content-education-section {
        text-align-last: center;
    }

    .frame1-education-section {
        padding: 0px 50px 0px 50px;
    }

    .frame2-education-section {
        display: grid;
        justify-items: center;
    }
}

@media (max-width: 768px) {
    .image-portfolio-cover-section-dialog {
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }

    .skill-item-skill-section {
        font-size: 1.3rem;
    }

    .text-image-portfolio-section {
        font-size: 1.3rem;
    }

    .text-contact-section {
        font-size: 1.3rem;
    }

    .contact-side-button {
        text-align-last: center;
    }

    .contact-side-desc-contact-section {
        text-align: center;
    }

    .close-modal-portfolio-section {
        top: 5px;
        right: 15px;
        width: 50px;
        height: 50px;
    }

    .text-header-center-portfolio-section {
        font-size: 2.5rem;
    }

    .image-portfolio-section-dialog-text-desc {
        font-size: 1.3rem;
        margin-top: 20px;
    }

    .image-portfolio-section-dialog-text-detail {
        font-size: 1.3rem;
    }

    .close-modal-portfolio-section .lr {
        height: 40px;
    }

        .close-modal-portfolio-section .lr .rl {
            height: 40px;
        }

    .form-control {
        font-size: 1.3rem;
    }

    .date-education-section {
        font-size: 0.9rem;
        text-align: center;
    }

    .title-education-section {
        font-size: 1.3rem;
        text-align: center;
    }

    .description-education-section {
        font-size: 1.3rem;
        text-align: center;
    }
}

@media (max-width: 540px) {
    .text-image-portfolio-section {
        font-size: 1.5rem;
    }

    .skill-item-skill-section {
        font-size: 1.5rem;
    }

    .text-contact-section {
        font-size: 1.5rem;
    }

    body {
        zoom: 85%;
    }

    .btn-general-portfolio-section {
        font-size: 1.3rem;
    }

    .contact-side-button {
        font-size: 1.3rem;
    }

    .text-header-center-portfolio-section {
        font-size: 2rem;
    }

    .date-education-section {
        font-size: 1.1rem;
    }

    .title-education-section {
        font-size: 1.5rem;
    }

    .description-education-section {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    body {
        zoom: 70%;
    }
}

@media (max-width: 370px) {
    body {
        zoom: 55%;
    }
}

@media (max-width: 290px) {
    body {
        zoom: 40%;
    }
}

@media (max-width: 210px) {
    body {
        zoom: 25%;
    }
}
